<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 text-white">
        <div class="nav mb-10 ">
            <a class="text-blue-500" href="/read">Read Users</a>
        </div>
        <h1 class="text-3xl tracking-tighter mb-3">Update User</h1>
        <form action="/update/<%= user._id %>" method="post">
            <input class="rounded-md outline-none px-5 py-2 text-zinc-700 bg-transpatent" type="text" name="name" placeholder="name" value="<%= user.name %>" >
            <input class="rounded-md outline-none px-5 py-2 text-zinc-700 bg-transpatent" type="text" name="email" placeholder="email" value="<%= user.email %>">
            <input class="rounded-md outline-none px-5 py-2 text-zinc-700 bg-transpatent" type="text" name="image" placeholder="image url" value="<%= user.image %>">
            <input class="rounded-lg  px-5 py-2 bg-yellow-600 ml-3 mt-2" type="submit" placeholder="Update User">
        </form>
    </div>
</body>
</html>